@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sub-heading {
      @apply font-medium text-gray-600
    }

    .label {
        @apply block mb-1 text-gray-600 dark:text-gray-300 font-medium
    }
    
    .input {
        @apply block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500
    }

    .input-error {
        @apply text-sm text-red-500 dark:text-red-400
    }

    .input-filter-l {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-b-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }

    .input-filter-r {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-l-0 border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-b-md rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }

    .btn-normal {
        @apply bg-white text-black font-normal p-2 border rounded-md
    }
    
    .btn-primary {
        @apply bg-cyan-600 hover:bg-cyan-500 text-white font-medium p-2 rounded-md
    }

    .btn-outline {
        @apply p-2 rounded-md border shadow-sm border-gray-300 dark:border-gray-800 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-800
    }
}

/* Price Slider */  
  /* .slider-cont {
    width: 200px;
  } */
  
  .custom-slider {
    --trackHeight: 0.5rem;
    --thumbRadius: 1rem;
  }
  
  /* style the input element with type "range" */
  .custom-slider input[type="range"] {
    position: relative;
    appearance: none;
    background: none;
    /* pointer-events: none; */
    border-radius: 999px;
    z-index: 0;
  }
  
  /* ::before element to replace the slider track */
  .custom-slider input[type="range"]::before,
  .custom-slider.minmax::before {
    content: "";
    position: absolute;
    width: var(--ProgressPercent, 100%);
    height: 100%;
    background: rgb(8 145 178);
    /* z-index: -1; */
    pointer-events: none;
    border-radius: 999px;
  }
  
  /* `::-webkit-slider-runnable-track` targets the track (background) of a range slider in chrpme and safari browsers. */
  .custom-slider input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    background: #005a3c;
    height: var(--trackHeight);
    border-radius: 999px;
  }
  
  /* `::-moz-range-track` targets the track (background) of a range slider in Mozilla Firefox. */
  .custom-slider input[type="range"]::-moz-range-track {
    appearance: none;
    background: #005a3c;
    height: var(--trackHeight);
    border-radius: 999px;
  }
  
  .custom-slider input[type="range"]::-webkit-slider-thumb {
    position: relative;
    /* top: 50%; 
    transform: translate(0, -50%);
    */
    width: var(--thumbRadius);
    height: var(--thumbRadius);
    margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2);
    background: rgb(6 182 212);
    border-radius: 999px;
    border: 2px solid white;
    pointer-events: all;
    appearance: none;
    z-index: 1;
  }
  
  .custom-slider.minmax {
    position: relative;
    height: var(--trackHeight);
    background: rgb(21 94 117);
    border-radius: 999px;
    margin: 0.5rem 0;
    --progressLeft: 0%;
    --progressRight: 0%;
  }
  
  .custom-slider.minmax input[type="range"] {
    position: absolute;
    pointer-events: none;
    width: 100%;
  }
  .custom-slider.minmax input[type="range"]::-webkit-slider-runnable-track {
    background: none;
  }
  
  .custom-slider.minmax::before {
    left: var(--progressLeft);
    right: var(--progressRight);
    width: unset;
  }
  
  .custom-slider.minmax input[type="range"]::before {
    display: none;
  }
  
  .minmax-inputs {
    display: flex;
    justify-content: space-between;
  }
  
  .minmax-inputs input {
    width: 50px;
  }

/* Vueper Slides */
.vueperslides__arrow { 
  color: rgb(75 85 99);
}